<div>
    <h2>login</h2>
    <form action="/api/sessions/login" method="POST">
    <input type="text" name="email" placeholder="ingrese su email">
    <input type="text" name="password" placeholder="ingrese su contraseña">
    <button class="btn btn-danger">Enviar</button>
    </form>

    <a href="/api/sessions/github">
    <button class="btn btn-dark" ><i class="bi bi-github">  entrar con github</i></button>  </a>

    <a href="/register">Registrarme</a>


</div>

{{!-- <script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}