<div>
    <h2>Bienvenido al registro de mi app</h2>
    <form action="/api/sessions/register" method="POST">
    <input type="text" name="first_name" placeholder="ingrese su nombre">
    <input type="text" name="last_name" placeholder="ingrese su apellido">
    <input type="text" name="email" placeholder="ingrese su email">
    <input type="text" name="password" placeholder="ingrese su contraseña">
    <button class="btn btn-dark">Enviar</button>
    </form>
</div>