<h1>SUBIR ARCHIVOS</h1>
<form action="/views/subirarch" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" placeholder="Subir archivo">
    <button class="btn btn-dark">Enviar</button>
</form>