*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: antiquewhite;
    background-color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;

    
}
.titulo{
    margin-bottom: 20px;
}
.saludo{
    margin: 20px;
    color: chocolate;
}